.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row .col {
  padding: 0;
}

#regBtn {
  margin: 5px;
}

#regBtn:hover {
  transform: scale(1.05);
}

.productForm {
  margin: 40px;
}

.productForm h3 {
  margin: 20px;
}

.createBtn {
  display: flex;
}

table {
  width: 70%;
}

.quantityBtn {
  margin: 15px;
}