.BasketBar{
  background-color: #EBEBEB;
  height: 85vh;
  width: 25%;
  text-align: center;
  padding-top: 1vh;
  border-left: 1px solid #C5C5C5;
  min-width: 10vw;
  right: 0;
  position: fixed;
  animation: 1s ease-out 0s 1 slideInFromRight;
}
.Exit{
  animation: 1s ease-out 0s 1 slideOutToRight;
}
.closeButton{
  text-align: left;
  margin-left: 0.5vw;
}
.noStyle{
  border:none;
  background: none;
  color:black;
  cursor: pointer;
}
.noStyle:active{
  background: none;
}
.spinningIn{
  animation: 1s ease-out 0s 1 x-spin-in;
}
.spinningOut{
  animation: 1s ease-out 0s 1 x-spin-out;
}
.basketContent{
  height: 65vh;
  width: 97%;
  margin: auto;
  margin-bottom: 2vh;
  background: #f1f1f1;
  overflow-y: auto;
  text-align: left;
  animation: 1s ease-in 0.2s 1 foldOut;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes x-spin-in{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes x-spin-out{
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes foldOut{
  from {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.ItemContainer{
  border-bottom: 1px solid rgb(299, 299, 299)
}
.ItemContainer img{
  width:100%;
  margin: 1.5vh 0 auto 0;
}
.ItemContainer h4{
  margin: 1.5vh 0 auto 0;
  font-family: 'Teko';
}
.right{
  align-content: right;
  text-align: right;
}