ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	}
	ul#horizontal-list li {
		display: inline;
    margin: 15px;
	}

  .AddressInput{
    margin-top:3%;
    align:left;
    height:100%;
    position: relative;
    display: block;
    text-align: center;
  }

  .AddressInput li {
      margin-left: 10%;
    }

  .AddressInput label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }

  .PaymentInput{
    margin-top:3%;
    align:left;
    height:100%;
    position: absolute;
    display: block;
    text-align: center;
		width: 48%;
  }

  .PaymentInput li {
      margin-left: 10%;
    }

  .PaymentInput label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }

	.BasketPreview{
    display: block;
    position:fixed;
    right: 2vw;
    width:49%;
    height:100%;
  }

	.submitButton{
		margin-top:3%;
    align:left;
    position: relative;
    text-align: center;
  }
 
  .checkoutContent{
    height: 65%;
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
    background: #f1f1f1;
    overflow-y: auto;
    text-align: left;
  }