.Filter{
  background-color: #EBEBEB;
  height: 100vh;
  text-align: left;
  padding-left: 2vw;
  padding-top: 1vh;
  border-right: 1px solid #C5C5C5;
  min-width: 10vw;
  left:0;
}
.Filter .row{
  margin:0;
}


h5:first-child{
  margin:0px;
  padding:0px;
}

.input-field{
  margin-top: 0;
}

.input-field.col label {
   left: 0;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.selectcontainer{
  width:80%;
  margin-top: 1vh;
}
h6{
  font-family: sans-serif;
  text-align: left;
  font-size: .8rem;
  color: #9e9e9e;
}
