.FormBar{
  background-color: #EBEBEB;
  height: 85vh;
  width: 25%;
  text-align: center;
  padding: 1vh;
  
  border-left: 1px solid #C5C5C5;
  min-width: 10vw;
  right: 0;
  position: fixed;
  animation: 1s ease-out 0s 1 slideInFromRight;
}
.input{
  margin-right: 1vw;
}
.Exit{
  animation: 1s ease-out 0s 1 slideOutToRight;
}
.closeButton{
  text-align: left;
  margin-left: 0.5vw;
}
.noStyle{
  border:none;
  background: none;
  color:black;
  cursor: pointer;
}
.noStyle:active{
  background: none;
}
.spinningIn{
  animation: 1s ease-out 0s 1 x-spin-in;
}
.spinningOut{
  animation: 1s ease-out 0s 1 x-spin-out;
}