.card {
  min-height: 40vh;
  margin-left: 1vw;
}
.card-body{
  padding-bottom: 1vh;
}

.card img{
  padding-bottom: 1vh;
  width: auto;
  height:20vh;
}
.card .row{
  display: flex;
  justify-content: center;
}
.card-text{
  padding: 0 1vw 0 1vw;
}

